.menuMobileContainer {
    position: fixed;
    bottom: 0;
    height: 64px;
    width: 100%;
    z-index: 100000;
    background-color: white;

    .menuMobileItem {
        font-weight: 600;
        font-size: 14px;
        filter: brightness(0) saturate(100%)
    }
}